@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .social-icons {
    height: 18px;
    height: 18px;
  }
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

.hero {
  background: linear-gradient(180deg, #0c0c1d, #111132);
}

.mountains {
  background-image: url('./assets/mountains.png');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}
.stars {
  background-image: url('./assets/stars.png');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.planets {
  background-image: url('./assets/planets.png');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
